@charset "utf-8";

@import url("font-awesome.min.css");
@import url("custom.flexslider.css");
@import url("framework.css");




/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:2% 0%;}

#pageintro li article{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro li article *{margin:0;}
#pageintro li p:first-of-type{margin-bottom:10px; font-style:italic;}
#pageintro li .heading{margin-bottom:0px; font-size:3rem; word-wrap:break-word;}
#pageintro li p:nth-of-type(2){line-height:1.5rem;}
#pageintro li footer{margin-top:40px;}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:15px 0; font-size:.8rem; text-transform:uppercase;}

#topbar *{margin:0;}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{}

#header #logo{margin:40px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}





/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}



/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#CBCBCB; background-color:#1D1D1D;}
a{color:#FF8A00;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#FF8A00;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#FF8A00; border-color:#FF8A00;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}

blockquote::before{color:rgba(255,255,255,.2);}

.icon{color:#FF8A00; border-color:#D7D7D7;}
a > .icon:hover, .services article:hover .icon{color:#FFFFFF; background-color:#FF8A00; border-color:#FF8A00;}



/* Top Bar */
#topbar ul li{border-color:rgba(0,0,0,.1);}
#topbar > div:last-of-type li:first-child a{color:#FF8A00;}


/* Header */
#header #logo a{color:inherit;}


#logos {
	margin: auto;
 	width: 50px;
    padding: 10px;
}

#mainlogo {

    width: 33%;
     display: block;
   margin: auto auto;

}

/* resize images */
#mainlogo img {
    width: 770%;
    height: auto;
}
